<div class="col-lg-3 footer_col">
  <div class="footer_col_title">Меню</div>
  <ul class="footer_useful_links">
    <li class="useful_links_item"><a href="#">Главная</a></li>
    <li class="useful_links_item"><a href="#">Строящиеся дома</a></li>
    <li class="useful_links_item"><a href="#">Сданные дома </a></li>
    <li class="useful_links_item"><a href="#">Цены </a></li>
    <li class="useful_links_item"><a href="#">О нас</a></li>
    <li class="useful_links_item"><a href="#">Контакты</a></li>
  </ul>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?..."></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114400601-1');
</script>


<!-- Global site tag (gtag.js) - Google Ads: 800602862 -->
<script async src="https://www.googletagmanager.com/gtag/js?..."></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-800602862');
</script>
