<div class="row cols">
  <div class="w100">
    <div class="row mobm0">
    <div id="budova_estate" class="w100"> </div>
    <script src="/static/js/runtime~main.229c360f.js"></script>
    <script src="/static/js/main.d28d06c4.chunk.js"></script>
    <script src="/static/js/1.8a892e27.chunk.js"></script>
      </div>
    </div>
  </div>
