<div class="row cols">
  <div class="w100">
    <div class="row mobm0">
    <div id="budova_estate" class="w100"> </div>
    <script src="/static/js/runtime~main.229c360f.js"></script>
    <script src="/static/js/main.eae4d1d0.chunk.js"></script>
    <script src="/static/js/1.d56f17d4.chunk.js"></script>
      </div>
    </div>
  </div>
